* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Josefin Sans, sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 23.4375rem;
  height: 50rem;
  background: linear-gradient(150deg, #FFF 0%, #FFF4F4 84.51%);
}
.wrapper header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.wrapper header .logo {
  margin: 2rem 0 2.01rem 2rem;
}
.wrapper .desktop-hero-img {
  display: none;
}

/*
---------------
TYPOGRAPHY
---------------
*/
.coming-soon-container {
  margin: 4rem 32px 5.75rem 33px;
}

.coming-soon-text {
  color: #423A3A;
  font-style: normal;
  font-weight: 600;
  white-space: pre-line;
  display: block;
}

.hero-text,
.copy-text {
  color: #CE9898;
}

.hero-text {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 2.625rem;
  letter-spacing: 0.67656rem;
  text-transform: uppercase;
  font-style: normal;
}

.copy-text {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.375rem;
  font-style: normal;
  margin: 1rem 0 2rem 0;
}

/*
---------------
FORM
---------------
*/
.input-control {
  position: relative;
  overflow: visible;
}

#email {
  all: unset;
  text-align: left;
  border-radius: 1.75rem;
  border: 1px solid #CE9898;
  transition: border 0.4s ease;
  opacity: 0.5;
  width: 19.4375rem;
  height: 2.875rem;
  background: transparent;
  text-indent: 1.5rem;
  font-family: Josefin Sans;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
  color: #423A3A;
}

#email::-moz-placeholder {
  color: #CE9898;
}

#email::placeholder {
  color: #CE9898;
}

#email:focus,
#email:active,
#email:hover {
  border: 1px solid #5b2e41;
  transition: border 0.4s ease;
}

.btn {
  all: unset;
  position: absolute;
  right: -19px;
  top: -3.27%;
  z-index: 5;
  cursor: pointer;
  width: 6rem;
  height: 5rem;
  background: url("./images/form-btn.svg") no-repeat center center;
  transition: background 0.4s ease;
}

.btn:hover,
.btn:focus,
.btn:active {
  background: url("./images/active-form-btn.svg") no-repeat center center;
  transition: background 0.4s ease;
}

@media (min-width: 900px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    text-align: left;
  }
  .wrapper header {
    position: fixed;
  }
  .wrapper .newsletter {
    display: flex;
    flex-direction: row;
    align-items: space-between;
    height: 100%;
    width: 100%;
    background: url("./images/bg-pattern-desktop.svg") no-repeat left;
  }
  .wrapper .newsletter .mobile-hero-img {
    display: none;
  }
  .wrapper .newsletter .desktop-hero-img {
    display: flex;
    order: 2;
    height: 100vh;
  }
  .wrapper .newsletter .coming-soon-container {
    order: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .wrapper .newsletter .coming-soon-container .newsletter-text-container {
    width: 445px;
  }
  .wrapper .newsletter .coming-soon-container .newsletter-text-container .hero-text {
    font-size: 4rem;
    line-height: 4rem;
    letter-spacing: 1.08256rem;
  }
  .wrapper .newsletter .coming-soon-container .newsletter-text-container .coming-soon-text {
    font-weight: 600;
    line-height: 4.4375rem;
    letter-spacing: 1.08256rem;
  }
  .wrapper .newsletter .coming-soon-container .newsletter-text-container .copy-text {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem; /* 175% */
  }
  .wrapper .newsletter .coming-soon-container .newsletter-text-container #email {
    width: 27.8125rem;
    height: 3.5rem;
  }
}/*# sourceMappingURL=styles.css.map */