* {
    padding: 0;
    margin: 0;
}

body
{
    font-size: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Josefin Sans, sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 23.4375rem;
    height: 50rem;
    background: linear-gradient(150deg, #FFF 0%, #FFF4F4 84.51%);

    header {
        height: 5.25rem;
        width: 100%;
        background-color: white;
    }

    .coming-soon-container {
        margin: 4rem 32px 5.75rem 33px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;

        .logo-link {
            position: absolute;
            top: -23.1rem;

            .logo {
                width: 6.25rem;
                height: 1.30538rem;
            }
        }
    }

    .desktop-hero-img {
        display: none;
    }
}

/*
---------------
TYPOGRAPHY
---------------
*/

.successColor {
    color: #CE9898;
}

.errorColor {
    color: #F96464;
}

.coming-soon-text {
    color: #423A3A;
    font-style: normal;
    font-weight: 600;
    white-space: pre-line;
    display: block;
}

.hero-text,
.copy-text {
    color: #CE9898;
}

.hero-text {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 2.625rem;
    letter-spacing: 0.67656rem;
    text-transform: uppercase;
    font-style: normal;
}

.copy-text {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.375rem;
    font-style: normal;
    margin: 1rem 0 2rem 0;
}

/*
---------------
FORM
---------------
*/

.input-control {
    position: relative;
    overflow: visible;
}

#email {
    all: unset;
    text-align: left;
    border-radius: 1.75rem;
    border: 1px solid #CE9898;
    transition: border 0.4s ease;
    opacity: 0.5;
    width: 19.4375rem;
    height: 2.875rem;
    background: transparent;
    text-indent: 1.5rem;
    font-family: Josefin Sans;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem;
    color: #423A3A;
}

#email::placeholder {
    color: #CE9898;
}

#email:hover,
#email:active,
#email:focus {
    border: 1px solid #5b2e41;
    transition: border 0.4s ease;
}

.input-control .error {
    padding: .25rem 0 0 2rem;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem; /* 215.385% */
    position: absolute;
}

.input-control .icon-error {
    position: absolute;
    left: 215px;
    bottom: 11px;
}

.errorColor {
    color: #F96464;
}

.successColor {
    color: EE8B8B;
}

.btn {
    all: unset;
    position: absolute;
    right: -19px;
    top: -3.27%;
    z-index: 5;
    cursor: pointer;
    width: 6rem;
    height: 5rem;
    background: url('./images/form-btn.svg') no-repeat center center;    
    transition: background 0.4s ease;
}

.btn:hover,
.btn:focus,
.btn:active {
    background: url('./images/active-form-btn.svg') no-repeat center center;
    transition: background 0.4s ease;
}

@media(min-width: 1100px) {
    .wrapper {
        display: flex;
        flex-direction: row;
        justify-content: left;
        width: 100%;
        height: 100vh;
        text-align: left;

        header {
            display: none;
        }

        .newsletter {
            display: flex;
            flex-direction: row;
            align-items: space-between;
            height: 100%;
            width: 100%;

            .mobile-hero-img {
                display: none;
            }

            .desktop-hero-img {
                display: flex;
                order: 2;
                height: 100vh;
            }

            .coming-soon-container {
                order: 1;
                width: 100%;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-left: 165px;
                background: url('./images/bg-pattern-desktop.svg') no-repeat left;
                background-size: 100% 100%;

                .logo-container {
                    width: 445px;

                    .logo-link {
                        z-index: 7;
                        position: absolute;
                        display: flex;
                        flex-direction: column;
                        top: 4.06rem;
    
                        .logo {
                            width: 9.875rem;
                            height: 2.0625rem;
                        }
                    }
                }

                .newsletter-text-container {
                    margin-top: 74.91px;
                    width: 445px;

                    .hero-text {
                        font-size: 4rem;
                        line-height: 4rem;
                        letter-spacing: 1.08256rem;
                    }

                    .coming-soon-text {
                        font-weight: 600;
                        line-height: 4.4375rem;
                        letter-spacing: 1.08256rem;
                    }

                    .copy-text {
                        font-size: 1rem;
                        font-weight: 400;
                        line-height: 1.75rem; /* 175% */
                        margin: 1.25rem 0 2.5rem 0;
                    }

                    #email {
                        width: 27.8125rem;
                        height: 3.375rem;
                        text-indent: 2rem;
                    }

                    .input-control .icon-error {
                        left: 305px;
                        bottom: 15px;
                    }

                    .btn {
                        background: url('./images/desktop-form-btn.svg') no-repeat center center;    
                        right: -20px;
                        top: -13px;
                        width: 8.5rem;
                        height: 7rem;
                    }

                    .btn:hover,
                    .btn:focus,
                    .btn:active {
                        background: url('./images/desktop-form-btn-active.svg') no-repeat center center;
                    }
                }
            }
        }
    }
  }